

<div class= "container">
<img src= "https://steemitimages.com/DQmYT7dcFNsYRV66Cutdia8ZJiqdY4pe96YL8kBHjMVshUJ/amsterdam-in-3-zile-1.jpg" style= "width:100%; height:43%">
<h1 class= "about">Amsterdam</h1>
</div>
<br>
<br>
<div>
    <p>Amsterdam is the Netherlands’ capital, known for its artistic heritage,<br>
         elaborate canal system and narrow houses with gabled facades,<br>
          legacies of the city’s 17th-century Golden Age. Its Museum District houses the Van Gogh Museum,<br>
           works by Rembrandt and Vermeer at the Rijksmuseum, and modern art at the Stedelijk.<br>
            Cycling is key to the city’s character, and there are numerous bike paths.</p>

        <p>
                <b>Weather:</b> 18°C, Wind SW at 27 km/h, 71% Humidity <br>
                <b>Local time:</b> Monday 19:55<br>
                <b>Elevation:</b> −2 m (−7 ft)<br>
                <b>Today part of:</b> Netherlands<br>
                <b>Language:</b> Dutch language<br>
        </p>

        
    

</div>